.container {
    margin: 50px;
}

.card {
    
    margin: 0 2% !important;
    box-shadow: 5px 5px 5px grey !important; 
}

.infected {
    width: 500px;
    border: 1px solid rebeccapurple;
    
}

.recovered {
    border: 1px solid greenyellow;
    
}

.deaths {
    border: 1px solid red;
    
}